
body{
	text-align: center;
	width: 1300px;
	background-image:url('metal-background.jpg');

}


header{
	width: 100%;
}

.header_image{
	width: 100%;
}

/* Detta är för dropdown-menu för mobiler*/
nav select{
	display:none;
}

.navigation{
	width: 70%;
	margin: 0 auto;
}

.navigation ul{
	/* Alla UL-element */
	display: inline-block;
	text-align: center;
	padding: 0;
}
.navigation li{

 float: left;
  list-style: none;
  padding: 4px 10px;


	/* En reserv färg samt färg för olika browsers */
	background-color: #f0f0f0;
  background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
  background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
  background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
  background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
  background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);

  border-right: 1px solid rgba(9, 9, 9, 0.125);

  /* Lägger in 1px highlight */
  box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
  -moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
  -webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
}

.navigation li a{
	color: #5d5d5d;
	display: inline-block;
	font: 20px/1 Lobster,Arial,sans-serif;
	padding: 12px 20px 14px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
	text-decoration: none !important;
}

#content{
	width: 70%;
	margin: 5px auto 5px auto;
	padding: 0;

	/*Background color*/
	background-image: linear-gradient(bottom, rgb(210,243,245) 86%, rgb(210,243,245) 92%, rgb(212,212,212) 100%);
	background-image: -o-linear-gradient(bottom, rgb(210,243,245) 86%, rgb(210,243,245) 92%, rgb(212,212,212) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(210,243,245) 86%, rgb(210,243,245) 92%, rgb(212,212,212) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(210,243,245) 86%, rgb(210,243,245) 92%, rgb(212,212,212) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(210,243,245) 86%, rgb(210,243,245) 92%, rgb(212,212,212) 100%);

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.86, rgb(210,243,245)),
	color-stop(0.92, rgb(210,243,245)),
	color-stop(1, rgb(212,212,212))
);

	/*Shadows*/
	-moz-box-shadow:0 0 5px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 10px 15px rgba(0,0,0,0.7);

}

#content h1{
	font-size: 40px;
	padding-top: 15px;
	font-style: bold;
	position: relative;
}

#content h1 span{
	background:url(gradient-glossy.png) repeat-x;
	position: absolute;
	display: block;
	width: 100%;
	height: 31px;
}
.top-list{
	margin: auto;

	width: 100%;
	border-top: 2px black solid;

	/*Background color*/
	background-image: linear-gradient(bottom, rgb(153,153,153) 21%, rgb(210,243,245) 53%, rgb(210,243,245) 91%);
	background-image: -o-linear-gradient(bottom, rgb(153,153,153) 21%, rgb(210,243,245) 53%, rgb(210,243,245) 91%);
	background-image: -moz-linear-gradient(bottom, rgb(153,153,153) 21%, rgb(210,243,245) 53%, rgb(210,243,245) 91%);
	background-image: -webkit-linear-gradient(bottom, rgb(153,153,153) 21%, rgb(210,243,245) 53%, rgb(210,243,245) 91%);
	background-image: -ms-linear-gradient(bottom, rgb(153,153,153) 21%, rgb(210,243,245) 53%, rgb(210,243,245) 91%);

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.21, rgb(153,153,153)),
	color-stop(0.53, rgb(210,243,245)),
	color-stop(0.91, rgb(210,243,245))
);
	
}

.top-list_image{
	float: left;
	
}

.top-list_text{
margin-right: 30px;

}

.top-list_text p{
	text-align: left;
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 15px;
	line-height: 20px;
	width: 75%;
	float: right;
}

.top-list_nav{
	padding-top: 10px;
	display: inline-block;
	width: 100%;
	height:50px;
}

.top-list_nav_button {
	float: left;
	margin-left: 15px;	
	padding: 10px 15px;
	position: absolute;
	bottom: 0px;

	background-color: #f0f0f0;
	background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
  	background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
 	background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
 	background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
 	background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);


 		/*TEXT*/
	color: #5d5d5d;
	display: inline-block;
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 25px;
	line-height: 20px;
	text-transform: uppercase;
	padding: 6px 30px 6px;
	position: relative;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
	z-index: 2;
	text-decoration: none !important;
	white-space: nowrap;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.5);


	border: 1px solid;
	border-color: #4d4e4f #265a82 #4d4e4f #4d4e4f;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;

	box-shadow: inset 0px -4px 5px rgba(255,255,255,0.2),
				inset 0px 1px 5px rgba(255,255,255,0.2),
						/**/
						0px 2px 0px #424344,
						0px 4px 0px #424344,
						0px 6px 0px #424344,
						/**/
						0px 8px 5px rgba(0,0,0,0.5);

	-moz-box-shadow: 	inset 0px -4px 5px rgba(255,255,255,0.2),
						inset 0px 1px 5px rgba(255,255,255,0.2),
						/**/
						0px 2px 0px #424344,
						0px 4px 0px #424344,
						0px 6px 0px #424344,
						/**/
						0px 8px 5px rgba(0,0,0,0.5);

	-webkit-box-shadow: inset 0px -4px 5px rgba(255,255,255,0.2),
						inset 0px 1px 5px rgba(255,255,255,0.2),
						/**/
						0px 2px 0px #424344,
						0px 4px 0px #424344,
						0px 6px 0px #424344,
						/**/
						0px 8px 5px rgba(0,0,0,0.5);
}
.top-list_nav_button:hover {
	color: #2b2b2a;
	border-color: #2b2b2a;
}

.top-list_nav_button:active{
	top:4px;
	box-shadow: 		inset 0px 4px 5px rgba(255,255,255,0.4),
						inset 0px -1px 5px rgba(255,255,255,0.2),
						/**/
						0px 2px 0px #424344,
						/**/
						0px 4px 5px rgba(0,0,0,0.5);

	-moz-box-shadow: 	inset 0px 4px 5px rgba(255,255,255,0.4),
						inset 0px -1px 5px rgba(255,255,255,0.2),
						/**/
						0px 2px 0px #424344,
						/**/
						0px 4px 5px rgba(0,0,0,0.5);

	-webkit-box-shadow: inset 0px 4px 5px rgba(255,255,255,0.4),
						inset 0px -1px 5px rgba(255,255,255,0.2),
						/**/
						0px 2px 0px #424344,
						/**/
						0px 4px 5px rgba(0,0,0,0.5);
}



#read-more{
	float: right;
	margin-right: 10px;
}

#footer{
	display: inline-block;
	margin-top: 60px;
	width: 100%;
	border: 2px #a2a2a2 solid;
	height: 100px;
}
/*----------------------------------För mobiler--------------------------------------------------*/

@media screen and (max-width: 500px){

body{
	width: 100%;
}

.navigation ul	{ display:none; }

.styled-select{
	margin: auto;
	width: 40%;
}

.styled-select select{ 
	display:inline-block;
	background: transparent;
	width: 100%;
	height: 50px;
	line-height: 1;
	border: 0;
	-webkit-appearance: none; 	 		

	overflow: hidden;
	background: url(select_arrow.png) no-repeat right #ddd;

	color: #5d5d5d;
	font: 25px/1 Lobster,Arial,sans-serif;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
	text-decoration: none !important;
}

.top-list_image{
	float: none;
}

.top-list_text{
	margin: none;
}

.top-list_text p{
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 15px;
	line-height: 20px;
	width: 90%;
}
.top-list_nav{
	padding-top: 10px;
	display: inline-block;
	width: 100%;
	height:50px;
}

.top-list_nav_button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5f5f5), color-stop(1, #c9cecf) );
	background:-moz-linear-gradient( center top, #f5f5f5 5%, #c9cecf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#c9cecf');
	background-color:#f5f5f5;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:2px solid #dcdcdc;
	color:#423a42;
	font-family:arial;
	font-size:10px;
	font-weight:bold;
	padding:4px 5px;
	width: 20%;

	display:inline-block;
	text-decoration:none;
}


@media screen and (min-width: 501) and (max-width: 900px){

}